Package: myscripts
Section: unknown
Version: 0.1.1
Priority: optional
Maintainer: Andres Bott <contact@andresbott.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: andresbott.com
Architecture: all
Depends: php-cli
Recommends: mplajer, lame, 	imagemagick


Tag: interface::commandline, devel, andresbott
Description: collection of useful scripts by Andres Bott
 This pacakge provides some useful scripts
