Package: createDebFile
Section: dev
Version: 0.1.0
Priority: optional
Maintainer: Andres Bott <contact@andresbott.com>
Build-Depends:
Homepage: andresbott.com
Architecture: all
Depends:
Recommends:

Tag: interface::commandline, devel, andresbott
Description: Simple fast and dirty bash script to package binary files into deb files
 This pacakge provides a script used to package any kind of file like images, scripst etc into deb files in order to keep the system clean.